@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Yellowtail&display=swap');
:root {
    --primary-color: #43AA8B  !important;
    --primary-light-color: #7bc4ae  !important;
    --primary-vlight-color:  !important;
    --secondary-color:#EF3054 !important;
    --secondary-light-color: #fbc5cf !important;
    --asset-color: #F5D0C5;
    --black-color: #050609;
    --font-family-1: 'Times New Roman', Times, serif;
    --font-family-2: 'Courier New', Courier, monospace;
    
}

body{
    display: block;
}
