@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Yellowtail&display=swap');
@import url('https://root-ui.netlify.app/styles/styles-global/root.css');

:root {
    --primary-color: #43AA8B  ;
    --primary-light-color: #7bc4ae  ;
    --primary-vlight-color: #def0eb;
    --secondary-color:#EF3054 ;
    --secondary-light-color: #fbc5cf ;
    --secondary-vlight-color: #fde8ec ;
    --accent-color: #F5D0C5;
    --black-color: #050609;
    --font-family-1: 'Times New Roman', Times, serif;
    --font-family-2: 'Courier New', Courier, monospace;
}

body{
    display: block;
    margin: 0;
}

.nav-container {
    margin: 0;
    background-color: var(--primary-color);
    position: relative;
    z-index: 9;
}
.nav-logo-txt {
    font-family: var(--font-family-1);
}

.btn-icon {
    color: var(--white-color);
    margin: 0.5rem 1rem;
}
.badge-icon{
    font-size: 1.75rem;
}
.badge-icon-secondary{
    left: 1.25rem;

}
.input {
    border-radius: 1rem;
    width: 30rem;
    border: 5px solid var(--primary-color);
}

/* Footer */

footer{
    background-color: var(--black-matte-color);
    height: 20rem;
    width: 100%;
    margin-bottom: 0;
    margin-top: 5rem;
    text-align: center;
    color: var(--accent-color);
    font-family: var(--font-family-2);
}
footer h4{
    padding-top: 1rem;
}
.social{
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem;
}
.list-type-inline{
    padding: 0;  
}
.list-type-none{
    list-style: none;
}
.footer-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-details li{
    font-size: small;
}
.vertical-line-footer{
    height: 5rem;
    border: 1px solid var(--asset-color);
}
.list-heading{
    font-weight: 600;
    padding: 10px 0;
}
